@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .ractangle {
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }
}

@media screen and (max-width: 991px) {
  #image-container {
    background-image: url("");
  }
}

body {
  scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cards-container {
  position: -webkit-sticky;
  height: calc(190vh);
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
}

.contents-sec {
  position: -webkit-sticky;
  /* height: calc(180vh); */
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-scrollbar-width: none;
}

.cal-btn {
  background-color: #0095b6;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
